.container.py-3
  .row
    .col-3

    .col-7
      %h5 Questions you can help answer !
      %hr
      - @topics.each do |topic|
        - if topic.questions.any?{ |q| q.user != current_user }
          %hr
          - topic.questions.each do |question|
            - next if question.user == current_user
            = render 'question', question: question, topic: topic