.jumbotron
  .container
    %h1.display-4 Hello, Guest
    %p.lead Welcome to Quora, ask any question and let the Internet answer them!

    %hr.my-4

    %p Please sign in to use the features. Register a free account otherwise !
    %p.lead
      = link_to 'Register', register_path, class: 'btn btn-secondary btn-lg'