.jumbotron
  .container
    %h1.display-4 Hello, Guest
    %p.lead Welcome to Quora, whereby you can ask any question and let the Internet answer them!

    %hr.my-4

    %p Please sign in to use the features.
    %p.lead
      %a.btn.btn-primary.btn-lg{:href => "#"} Sign in
      %a.btn.btn-secondary.btn-lg(href="#" role="button") Register
