.container.py-3
  .row
    .col-3
      %ul
        %li
          %h6 Feeds
        %hr/
        %li
          = link_to 'Most Popular Questions', pages_path(sort: 'top_views')
        %li
          = link_to 'Newest Questions', pages_path
    .col-7
      %h5 All Questions from Quora
      %hr
      - @questions.each do |question|
        = render 'questions/question', question: question
      .digg_pagination
        = will_paginate @questions, :page_links => true
