ul {
  list-style-type: none;
}

.alert {
  margin-bottom: 0 !important;
}

.txt-sm {
  font-size: 12px;
}

.clickable {
  color: #0645AD;
}

a {
  color: #4a4949;
}

a:hover {
  color: #000;
  text-decoration: none;
}

textarea {
  resize: none;
}

.no-border-text {
  border: none;
}

li {
  font-size: 80%;
}

.login-menu {
    width: 400px !important;
}

.question_title {
  font-style: italic;
  color: #0B0080;
}

.notification::after {
    display: none;
}

.notify-box {
  width: 500px !important;
} 
.dropdown-item {
  white-space: normal; 
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none; 
}